In [1]:
from pathlib import Path
import pandas as pd

DATA_PATH = Path("liverpool_for_mysql_clean.csv")

df = pd.read_csv(DATA_PATH)
df.head()

,date,employment_rate_16_64,percent_employees_16_64,percent_self_employed_16_64,unemployment_rate_16_plus,percent_econ_inactive_16_64,percent_econ_inactive_want_job,soc1_managers,soc2_professional,soc3_associate_prof,soc4_admin_secretarial,soc5_skilled_trades,soc6_caring_leisure_other,soc7_sales_customer_service,soc8_process_plant_machine,soc9_elementary,unemployment_rate_ethnic_minority_16_plus,percent_rqf4_plus_16_64,percent_rqf3_plus_16_64,percent_rqf2_plus_16_64
0,Apr 2012-Mar 2013,406300.0,360900.0,42400.0,50500.0,176800.0,44500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN
1,Jul 2012-Jun 2013,408700.0,363600.0,41800.0,49700.0,176300.0,44700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2600.0,NaN,NaN,NaN
2,Oct 2012-Sep 2013,410700.0,363200.0,44400.0,48300.0,171400.0,46600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3800.0,NaN,NaN,NaN
3,Jan 2013-Dec 2013,413700.0,364600.0,45900.0,47500.0,170300.0,45300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4300.0,NaN,NaN,NaN
4,Apr 2013-Mar 2014,414300.0,361600.0,48400.0,48700.0,168100.0,45100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3800.0,NaN,NaN,NaN

In [2]:
df.columns.tolist()

['date',
 'employment_rate_16_64',
 'percent_employees_16_64',
 'percent_self_employed_16_64',
 'unemployment_rate_16_plus',
 'percent_econ_inactive_16_64',
 'percent_econ_inactive_want_job',
 'soc1_managers',
 'soc2_professional',
 'soc3_associate_prof',
 'soc4_admin_secretarial',
 'soc5_skilled_trades',
 'soc6_caring_leisure_other',
 'soc7_sales_customer_service',
 'soc8_process_plant_machine',
 'soc9_elementary',
 'unemployment_rate_ethnic_minority_16_plus',
 'percent_rqf4_plus_16_64',
 'percent_rqf3_plus_16_64',
 'percent_rqf2_plus_16_64']

In [3]:
df.shape

(131, 20)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   date                                       131 non-null    object
 1   employment_rate_16_64                      126 non-null    float64
 2   percent_employees_16_64                    126 non-null    float64
 3   percent_self_employed_16_64                96 non-null     float64
 4   unemployment_rate_16_plus                  96 non-null     float64
 5   percent_econ_inactive_16_64                103 non-null    float64
 6   percent_econ_inactive_want_job             96 non-null     float64
 7   soc1_managers                              27 non-null     float64
 8   soc2_professional                          33 non-null     float64
 9   soc3_associate_prof                        26 non-null     float64
 10  soc4_admin_secretarial                     26 non-null     float64
 11  soc5_skilled_trades                        26 non-null     float64
 12  soc6_caring_leisure_other                  26 non-null     float64
 13  soc7_sales_customer_service                26 non-null     float64
 14  soc8_process_plant_machine                 26 non-null     float64
 15  soc9_elementary                            26 non-null     float64
 16  unemployment_rate_ethnic_minority_16_plus  87 non-null     float64
 17  percent_rqf4_plus_16_64                    7 non-null      float64
 18  percent_rqf3_plus_16_64                    7 non-null      float64
 19  percent_rqf2_plus_16_64                    7 non-null      float64
dtypes: float64(19), object(1)
memory usage: 20.6+ KB

In [5]:
df.isna().sum()

date                                           0
employment_rate_16_64                          5
percent_employees_16_64                        5
percent_self_employed_16_64                   35
unemployment_rate_16_plus                     35
percent_econ_inactive_16_64                   28
percent_econ_inactive_want_job                35
soc1_managers                                104
soc2_professional                             98
soc3_associate_prof                          105
soc4_admin_secretarial                       105
soc5_skilled_trades                          105
soc6_caring_leisure_other                    105
soc7_sales_customer_service                  105
soc8_process_plant_machine                   105
soc9_elementary                              105
unemployment_rate_ethnic_minority_16_plus     44
percent_rqf4_plus_16_64                      124
percent_rqf3_plus_16_64                      124
percent_rqf2_plus_16_64                      124
dtype: int64

In [6]:
cols_main = [
    "employment_rate_16_64",
    "percent_employees_16_64",
    "percent_self_employed_16_64",
    "unemployment_rate_16_plus",
    "percent_econ_inactive_16_64",
    "percent_econ_inactive_want_job",
]

df_core_clean = df_core.dropna(subset=cols_main).copy()
df_core_clean.shape

NameError: name 'df_core' is not defined

In [7]:
df_core[["date", "employment_rate_16_64", "unemployment_rate_16_plus"]].head(10)

NameError: name 'df_core' is not defined

In [8]:
import pandas as pd
from pathlib import Path

# 1. Load the CSV
DATA_PATH = Path("liverpool_for_mysql_clean.csv")
df = pd.read_csv(DATA_PATH)

print("df.shape:", df.shape)
print(df.columns.tolist())

# 2. Keep only the core columns we care about
core_cols = [
    "date",
    "employment_rate_16_64",
    "percent_employees_16_64",
    "percent_self_employed_16_64",
    "unemployment_rate_16_plus",
    "percent_econ_inactive_16_64",
    "percent_econ_inactive_want_job",
    "unemployment_rate_ethnic_minority_16_plus",
]

df_core = df[core_cols].copy()

print("\nHEAD of df_core:")
print(df_core.head(10))

df.shape: (131, 20)
['date', 'employment_rate_16_64', 'percent_employees_16_64', 'percent_self_employed_16_64', 'unemployment_rate_16_plus', 'percent_econ_inactive_16_64', 'percent_econ_inactive_want_job', 'soc1_managers', 'soc2_professional', 'soc3_associate_prof', 'soc4_admin_secretarial', 'soc5_skilled_trades', 'soc6_caring_leisure_other', 'soc7_sales_customer_service', 'soc8_process_plant_machine', 'soc9_elementary', 'unemployment_rate_ethnic_minority_16_plus', 'percent_rqf4_plus_16_64', 'percent_rqf3_plus_16_64', 'percent_rqf2_plus_16_64']

HEAD of df_core:
                date  employment_rate_16_64  percent_employees_16_64  \
0  Apr 2012-Mar 2013               406300.0                 360900.0
1  Jul 2012-Jun 2013               408700.0                 363600.0
2  Oct 2012-Sep 2013               410700.0                 363200.0
3  Jan 2013-Dec 2013               413700.0                 364600.0
4  Apr 2013-Mar 2014               414300.0                 361600.0
5  Jul 2013-Jun 2014               403900.0                 354000.0
6  Oct 2013-Sep 2014               409900.0                 354900.0
7  Jan 2014-Dec 2014               407500.0                 354700.0
8  Apr 2014-Mar 2015               414600.0                 362300.0
9  Jul 2014-Jun 2015               416900.0                 361700.0

   percent_self_employed_16_64  unemployment_rate_16_plus  \
0                      42400.0                    50500.0
1                      41800.0                    49700.0
2                      44400.0                    48300.0
3                      45900.0                    47500.0
4                      48400.0                    48700.0
5                      45900.0                    47600.0
6                      49700.0                    44000.0
7                      47500.0                    44100.0
8                      47600.0                    36400.0
9                      51100.0                    36200.0

   percent_econ_inactive_16_64  percent_econ_inactive_want_job  \
0                     176800.0                         44500.0
1                     176300.0                         44700.0
2                     171400.0                         46600.0
3                     170300.0                         45300.0
4                     168100.0                         45100.0
5                     177400.0                         48600.0
6                     178600.0                         51200.0
7                     184900.0                         54100.0
8                     185400.0                         52100.0
9                     185200.0                         51300.0

   unemployment_rate_ethnic_minority_16_plus
0                                     3000.0
1                                     2600.0
2                                     3800.0
3                                     4300.0
4                                     3800.0
5                                     3600.0
6                                     4000.0
7                                     4200.0
8                                     4000.0
9                                     5800.0

In [9]:
df_core[["date", "employment_rate_16_64", "unemployment_rate_16_plus"]].head(10)

                date  employment_rate_16_64  unemployment_rate_16_plus
0  Apr 2012-Mar 2013               406300.0                    50500.0
1  Jul 2012-Jun 2013               408700.0                    49700.0
2  Oct 2012-Sep 2013               410700.0                    48300.0
3  Jan 2013-Dec 2013               413700.0                    47500.0
4  Apr 2013-Mar 2014               414300.0                    48700.0
5  Jul 2013-Jun 2014               403900.0                    47600.0
6  Oct 2013-Sep 2014               409900.0                    44000.0
7  Jan 2014-Dec 2014               407500.0                    44100.0
8  Apr 2014-Mar 2015               414600.0                    36400.0
9  Jul 2014-Jun 2015               416900.0                    36200.0

In [1]:
from pathlib import Path

path = Path("data") / "liverpool_labour_core.csv"
path.exists(), path.stat().st_size if path.exists() else None

(False, None)

In [2]:
from pathlib import Path
import pandas as pd

DATA_PATH = Path("liverpool_for_mysql_clean.csv")
df = pd.read_csv(DATA_PATH)

core_cols = [
    "date",
    "employment_rate_16_64",
    "percent_employees_16_64",
    "percent_self_employed_16_64",
    "unemployment_rate_16_plus",
    "percent_econ_inactive_16_64",
    "percent_econ_inactive_want_job",
    "unemployment_rate_ethnic_minority_16_plus",
]

df_core = df[core_cols].copy()

In [3]:
df_core.to_csv("data/liverpool_labour_core.csv", index=False)

In [4]:
df_core.head()

,date,employment_rate_16_64,percent_employees_16_64,percent_self_employed_16_64,unemployment_rate_16_plus,percent_econ_inactive_16_64,percent_econ_inactive_want_job,unemployment_rate_ethnic_minority_16_plus
0,Apr 2012-Mar 2013,406300.0,360900.0,42400.0,50500.0,176800.0,44500.0,3000.0
1,Jul 2012-Jun 2013,408700.0,363600.0,41800.0,49700.0,176300.0,44700.0,2600.0
2,Oct 2012-Sep 2013,410700.0,363200.0,44400.0,48300.0,171400.0,46600.0,3800.0
3,Jan 2013-Dec 2013,413700.0,364600.0,45900.0,47500.0,170300.0,45300.0,4300.0
4,Apr 2013-Mar 2014,414300.0,361600.0,48400.0,48700.0,168100.0,45100.0,3800.0

In [5]:
from pathlib import Path

path = Path("data") / "liverpool_labour_core.csv"
path.exists(), path.stat().st_size if path.exists() else None
|

SyntaxError: invalid syntax (2370421906.py, line 5)

In [6]:
from pathlib import Path

path = Path("data") / "liverpool_labour_core.csv"
path.exists(), path.stat().st_size if path.exists() else None

(True, 8838)